<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active"  routerLink="" >Student-Test</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/demo">Demo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/demo1">Demo1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/arrex">Arr-Demo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/directiveex">Directive-Ex</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employee">Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/product">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todo">Todo-Ex</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/product-list">Product-List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add-pro">Add-Product</a>
  </li>
</ul>
